.download-buildroot
.download-mediatek-kernel
.download-rockchip-kernel
.download-x86_64-kernel
.extract-buildroot
.patch
.prepatch
.configure
.configure-legacy
.configure-mt6000
.configure-bpi-r3
.configure-bpi-r3-mini
.configure-rpi4
.configure-r6s
.configure-r5s
.target
*.gcom
hotplug2.rules
src/
00001-openwrt-mediatek-kernel-*
00001-openwrt-rockchip-kernel-*
00001-openwrt-x86_64-kernel-*
