.download-buildroot
.download-mediatek-kernel
.extract-buildroot
.patch
.prepatch
.configure
.configure-legacy
.configure-mt6000
.configure-bpi-r3-mini
*.gcom
hotplug2.rules
src/
00001-openwrt-mediatek-kernel-*
